<!-- AUTOR DESTAQUE 01 -->
<section>
    <div class="box-text-autor">
        Autores em destaque
    </div>
</section>
<section class="box-autor-home">
    <div class="box-autor-destaque">
        <img src="/images/autores-dest-papa-123-142x214.jpeg" alt="" sizes="" srcset="">
        <div class="descricao">
            <ul class="name-autor">Bento XVI</ul>
            <ul class="autor">O Cardeal Joseph Ratzinger, Papa Bento XVI, nasceu em Marktl am Inn, diocese de Passau
                (Alemanha), no dia 16 de Abril de 1927 (Sábado Santo), e foi batizado no mesmo dia.</ul>
            </ul>
        </div>
    </div>


    <!-- AUTOR DESTAQUE 02 -->
    <div class="box-autor-destaque">
        <img src="/images/autores-dest-papa-123-142x214.jpeg" alt="" sizes="" srcset="">
        <div class="descricao">
            <ul class="name-autor">Bento XVI</ul>
            <ul class="autor">O Cardeal Joseph Ratzinger, Papa Bento XVI, nasceu em Marktl am Inn, diocese de Passau
                (Alemanha), no dia 16 de Abril de 1927 (Sábado Santo), e foi batizado no mesmo dia.</ul>
            </ul>
        </div>
    </div>

    <!-- AUTOR DESTAQUE 03 -->
    <div class="box-autor-destaque">
        <img src="/images/autores-dest-papa-123-142x214.jpeg" alt="" sizes="" srcset="">
        <div class="descricao">
            <ul class="name-autor">Bento XVI</ul>
            <ul class="autor">O Cardeal Joseph Ratzinger, Papa Bento XVI, nasceu em Marktl am Inn, diocese de Passau
                (Alemanha), no dia 16 de Abril de 1927 (Sábado Santo), e foi batizado no mesmo dia.</ul>
            </ul>
        </div>
    </div>
</section>