<!-- AUTOR DESTAQUE 01 -->
<section>
    <div class="box-text-autor">
        <strong><i>Melhores Autores</i></strong> 
    </div>
</section>
<section class="box-autor-home">
    <div class="box-autor-destaque">
        <img src="/images/autor_destaque-1.png" height="150vw" alt="" sizes="" srcset="">
        <div class="descricao">
            <ul class="name-autor"><strong>Andrew S. Tanenbaum</strong></ul>
            <ul class="autor">É bacharel em ciências pelo MIT e Ph.D. pela Universidade da Califórnia em Berkeley. É professor emérito de ciência da computação na Universidade Vrije em Amsterdã, Holanda, onde lecionou sistemas operacionais, redes e assuntos relacionados por mais de 40 anos. Desenvolve pesquisas sobre sistemas operacionais, embora tenha trabalhado com compiladores, sistemas distribuídos, segurança e outros tópicos.</ul>
            </ul>
        </div>
    </div>


    <!-- AUTOR DESTAQUE 02 -->
    <div class="box-autor-destaque">
        <img src="/images/autor_destaque-2.jpg" height="150vw" alt="" sizes="" srcset="">
        <div class="descricao">
            <ul class="name-autor"><strong>Roger S. Pressman</strong></ul>
            <ul class="autor">É um consultor e autor reconhecido internacionalmente. Por quase cinco décadas, trabalhou como engenheiro de software, gerente, professor, escritor, consultor e empresário. Foi presidente da R. S. Pressman & Associates, Inc., consultoria na qual desenvolveu um conjunto de técnicas e ferramentas que melhoram a prática de engenharia de software.</ul>
            </ul>
        </div>
    </div>

    <!-- AUTOR DESTAQUE 03 -->
    <div class="box-autor-destaque">
        <img src="/images/autor_destaque-3.jpg" height="150vw" alt="" sizes="" srcset="">
        <div class="descricao">
            <ul class="name-autor"><strong>Nick Feamster</strong></ul>
            <ul class="autor">É o professor de ciência da computação e Diretor do Centro de Dados e Computação (CDAC) da Universidade de Chicago. Sua pesquisa se concentra em muitos aspectos de redes de computadores e sistemas em rede, com foco em operações de rede, segurança de rede e censura na Internet, além de aplicações de aprendizado de máquina para redes de computadores.</ul>
            </ul>
        </div>
    </div>
</section>