<!-- BANNER-->
<section>
    <div class="first-banner">
        <div class="banner" style="width: auto;">
            <img src="public/images/img/1210-1920x252-2 - coÌpia.jpg" alt="" sizes="" srcset="">
        </div>
    </div>
</section>
