<!-- BANNER-->
<section>
    <div class="first-banner">
        <div class="banner" style="width: auto;">
            <img src="/images/1210-1920x252-2 - cópia.jpg" alt="" sizes="" srcset="">
        </div>
    </div>
</section>
