<!-- BANNER - montar banner rotativo com botão na porte de baixo-->

<section>
    <div class="first-banner">
        <div class="banner">
            <img src="/images/1210-1920x252-2 - cópia.jpg" alt="" sizes="" srcset="" width="1120" height="205">
        </div>
    </div>
</section>
