<div class="box-privacidade">
    <div class="container">
        <div class="text">
            <span class="text-privacidade">Utilizamos cookies para melhorar sua experiência na loja. Ao aceitar, você estará ciente do uso de cookies e concordará com a nossa <a class="politica-privacidade"href="/privacidade"> Política de Privacidade</a></span>
        </div>
        <div class="botao-privacidade">
            <button type="button" id="aceitar-cookies" class="btn-privacidade">Aceitar e Continuar</button>
        </div>
    </div>
</div>