<section>
    <div class="box-home">
        Produtos em destaque
    </div>
</section>








<!-- 
     modelos de book na lista e no carrinho 
    <div class="models">

         book na lista 
        <div class="book-item">
            <a href="">
                <div class="book-item--img"><img src="" /></div>
                <div class="book-item--add">+</div>
            </a>
            <div class="book-item--price">R$ --</div>
            <div class="book-item--name">--</div>
            <div class="book-item--desc">--</div>
        </div>

         book no carrinho 
        <div class="cart--item">
            <img src="" />
            <div class="cart--item-nome">--</div>
            <div class="cart--item--qtarea">
                <button class="cart--item-qtmenos">-</button>
                <div class="cart--item--qt">1</div>
                <button class="cart--item-qtmais">+</button>
            </div>
        </div>

    </div>
     /models -->

    <!-- .menu-openner aparecera no modo mobile 
    <header>
        <h1>bookria da Nonna</h1>
        <div class="menu-openner"><span>0</span>🛒</div>
    </header>
     /menu-openner -->

    <!-- conteudo principal
    <main>
        
        <h2>books</h2>

        <div class="book-area"></div>
    </main>
     /conteudo principal -->

    <!-- aside do carrinho 
    <aside>
        <div class="cart--area">
            <div class="menu-closer">❌</div>
            <h1>Suas books</h1>
            <div class="cart"></div>
            <div class="cart--details">
                <div class="cart--totalitem subtotal">
                    <span>Subtotal</span>
                    <span>R$ --</span>
                </div>
                <div class="cart--totalitem desconto">
                    <span>Desconto</span>
                    <span>R$ --</span>
                </div>
                <div class="cart--totalitem total big">
                    <span>Total</span>
                    <span>R$ --</span>
                </div>
                <div class="cart--finalizar">Finalizar a compra</div>
            </div>
        </div>
    </aside>
     /aside do carrinho -->

    <!-- janela modal .bookWindowArea 
    <div class="bookWindowArea">
        <div class="bookWindowBody">
            <div class="bookInfo--cancelMobileButton">Voltar</div>
            <div class="bookBig">
                <img src="" />
            </div>
            <div class="bookInfo">
                <h1>--</h1>
                <div class="bookInfo--desc">--</div>
                <div class="bookInfo--sizearea">
                    <div class="bookInfo--sector">Tamanho</div>
                    <div class="bookInfo--sizes">
                        <div data-key="P" class="bookInfo--size">PEQUENA <span>--</span></div>
                        <div data-key="M" class="bookInfo--size">MÉDIA <span>--</span></div>
                        <div data-key="G" class="bookInfo--size selected">GRANDE <span>--</span></div>
                    </div>
                </div>
                <div class="bookInfo--pricearea">
                    <div class="bookInfo--sector">Preço</div>
                    <div class="bookInfo--price">
                        <div class="bookInfo--actualPrice">R$ --</div>
                        <div class="bookInfo--qtarea">
                            <button class="bookInfo--qtmenos">-</button>
                            <div class="bookInfo--qt">1</div>
                            <button class="bookInfo--qtmais">+</button>
                        </div>
                    </div>
                </div>
                <div class="bookInfo--addButton">Adicionar ao carrinho</div>
                <div class="bookInfo--cancelButton">Cancelar</div>
            </div>
        </div>
    </div> -->
    <!-- /janela modal .bookWindowArea -->



<!-- LIMPAR TESTES ANTIGAFO PARA BAIXO -->

<!-- teste de produtos em JS -->

<!-- <script src="/javascripts/carrinho.js"></script> -->

<!-- produtos -->
<!-- <h2>books</h2>
<div id="book">

</div>

<div id="carrinho">
<h2>Carrinho</h2> 
</div>

<script>
    const itens =[
    {
        id: 0,
        img: 'CatecismoDaIgrejaCatolicaGrande-142x214.jpeg',
        autor: "Johnny Santo",
        name: "Humildade e Honra",
        oferta: "290,00",
        sale: "199,00",
        quantidade: 3
    },
    {
        id: 1,
        autor: "Diego T.",
        name: "SPFC",
        oferta: "290,00",
        sale: "199,00",
        quantidade: 0
    },
    {
        id: 2,
        autor: "Brian T.",
        name: "Pequeno Principe",
        oferta: "290,00",
        sale: "199,00",
        quantidade: 0
    }
]

inicializarloja = () => {
    var containerBook = document.getElementById('book');
    itens.map((val) => {
        containerBook.innerHTML+= `

            <div class= "book-single"> 
                <img src="`+val.img+`" />
                <p> `+val.name+`</p>
                <a key="`+val.id+`" href="#">COMPRAR></a>
            </div>
            `;
    })
}

inicializarloja();

atualizarcarrinho = ()=>{
    var containerCarrinho = document.getElementById('carrinho');
    containerCarrinho.innerHTML = "";
    itens.map((val) => {
        if(val.quantidade > 0){
            containerCarrinho.innerHTML+= `
            <p>`+val.name+` | quantidade: `+val.quantidade+` </p>
            <hr> 
            `
        }
        
    })

}

var links = document.getElementsByTagName('a');

for(var i = 0; i< links.length; i++){
    links[i].addEventListener("click", function(){
        let key = this.getAttribute('key');
        itens[key].quantidade++;
        atualizarcarrinho();
        return false;
    })

}

</script> -->
<!-- 
 CONTAINER PRODUTO 01 
<section class="box-autor-home">
    <div class="box-autor-destaque">
        <div class="box-prod-2" data-key="0">
            <a href>
                <div class="box-book">
                    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                </div>
            </a>
            <div class="book-item-price-2">R$120,00</div>
            <div class="book-item-autor-2">Diego Policarpo</div>
            <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
            <div class="book-item--add">COMPRAR</div>
        </div>
    </div>



    <div class="box-autor-destaque">
        <div class="box-prod-2" data-key="0">
            <a href>
                <div class="box-book">
                    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                </div>
            </a>
            <div class="book-item-price-2">R$120,00</div>
            <div class="book-item-autor-2">Diego Policarpo</div>
            <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
            <div class="button-buy-2">COMPRAR</div>
        </div>
    </div>



    <div class="box-autor-destaque">
        <div class="box-prod-2" data-key="0">
            <a href>
                <div class="box-book">
                    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                </div>
            </a>
            <div class="book-item-price-2">R$120,00</div>
            <div class="book-item-autor-2">Diego Policarpo</div>
            <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
            <div class="button-buy-2">COMPRAR</div>
        </div>
    </div>

    <div class="box-autor-destaque">
        <div class="box-prod-2" data-key="0">
            <a href>
                <div class="box-book">
                    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                </div>
            </a>
            <div class="book-item-price-2">R$120,00</div>
            <div class="book-item-autor-2">Diego Policarpo</div>
            <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
            <div class="button-buy-2">COMPRAR</div>
        </div>
    </div>

    <div class="box-autor-destaque">
        <div class="box-prod-2" data-key="0">
            <a href>
                <div class="box-book">
                    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                </div>
            </a>
            <div class="book-item-price-2">R$120,00</div>
            <div class="book-item-autor-2">Diego Policarpo</div>
            <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
            <div class="button-buy-2">COMPRAR</div>
        </div>
    </div>


     <div class="box-autor-destaque">
        <div class="box-prod-2" data-key="0">
            <a href>
                <div class="box-book">
                    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                </div>
            </a>
            <div class="book-item-price-2">R$120,00</div>
            <div class="book-item-autor-2">Diego Policarpo</div>
            <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
            <div class="button-buy-2">COMPRAR</div>
        </div>
    </div> -->

<!-- </section> -->

<!-- CONTAINER PRODUTO 01 
<section class="box-autor-home">
    <div class="box-autor-destaque">
        <div class="box-prod-2" data-key="0">
            <a href>
                <div class="box-book">
                    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                </div>
            </a>
            <div class="book-item-price-2">R$120,00</div>
            <div class="book-item-autor-2">Diego Policarpo</div>
            <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
            <div class="button-buy-2">COMPRAR</div>
        </div>
    </div>



    <div class="box-autor-destaque">
        <div class="box-prod-2" data-key="0">
            <a href>
                <div class="box-book">
                    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                </div>
            </a>
            <div class="book-item-price-2">R$120,00</div>
            <div class="book-item-autor-2">Diego Policarpo</div>
            <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
            <div class="button-buy-2">COMPRAR</div>
        </div>
    </div>



    <div class="box-autor-destaque">
        <div class="box-prod-2" data-key="0">
            <a href>
                <div class="box-book">
                    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                </div>
            </a>
            <div class="book-item-price-2">R$120,00</div>
            <div class="book-item-autor-2">Diego Policarpo</div>
            <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
            <div class="button-buy-2">COMPRAR</div>
        </div>
    </div>

    <div class="box-autor-destaque">
        <div class="box-prod-2" data-key="0">
            <a href>
                <div class="box-book">
                    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                </div>
            </a>
            <div class="book-item-price-2">R$120,00</div>
            <div class="book-item-autor-2">Diego Policarpo</div>
            <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
            <div class="button-buy-2">COMPRAR</div>
        </div>
    </div>

    <div class="box-autor-destaque">
        <div class="box-prod-2" data-key="0">
            <a href>
                <div class="box-book">
                    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                </div>
            </a>
            <div class="book-item-price-2">R$120,00</div>
            <div class="book-item-autor-2">Diego Policarpo</div>
            <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
            <div class="button-buy-2">COMPRAR</div>
        </div>
    </div>

     aside do carrinho 
    <aside>
        <div class="cart--area">
            <div class="menu-closer">❌</div>
            <h1>Suas books</h1>
            <div class="cart"></div>
            <div class="cart--details">
                <div class="cart--totalitem subtotal">
                    <span>Subtotal</span>
                    <span>R$ --</span>
                </div>
                <div class="cart--totalitem desconto">
                    <span>Desconto</span>
                    <span>R$ --</span>
                </div>
                <div class="cart--totalitem total big">
                    <span>Total</span>
                    <span>R$ --</span>
                </div>
                <div class="cart--finalizar">Finalizar a compra</div>
            </div>
        </div>
    </aside>
     /aside do carrinho -->

    <!-- <div class="box-autor-destaque">
        <div class="box-prod-2" data-key="0">
            <a href>
                <div class="box-book">
                    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
                </div>
            </a>
            <div class="book-item-price-2">R$120,00</div>
            <div class="book-item-autor-2">Diego Policarpo</div>
            <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
            <div class="button-buy-2">COMPRAR</div>
        </div>
    </div> -->

<!-- </section> -->




<!-- <div class="descricao">
                <ul class="autor">Diego Policarpo</ul>
                <ul class="titulo">HUMILDADE, HONRA e HONESTIDADE</ul>
                <ul class="oferta">
                    R$ 290,00
                </ul>
                <ul class="sale">
                    R$ 199,00
                </ul> -->
<!-- <div class="button-buy">
                    <button class="buy">COMPRAR</button>
                </div> 
            </div>-->

<!-- </div>
    </section>
  PRODUTO 03  
    <section class="box-prod-home">
        <div class="box-prod">
            <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
            <div class="descricao">
                <ul class="autor">Johnny W. S.</ul>
                <ul class="titulo">HUMILDADE, HONRA e HONESTIDADE</ul>
                <ul class="oferta">
                    R$ 290,00
                </ul>
                <ul class="sale">
                    R$ 199,00
                </ul>
                <div class="button-buy">
                    <button class="buy">COMPRAR</button>
                </div>
            </div>
        </div>
    </section>
      PRODUTO 04 
    <section class="box-prod-home">
        <div class="box-prod">
            <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
            <div class="descricao">
                <ul class="autor">Johnny W. S.</ul>
                <ul class="titulo">HUMILDADE, HONRA e HONESTIDADE</ul>
                <ul class="oferta">
                    R$ 290,00
                </ul>
                <ul class="sale">
                    R$ 199,00
                </ul>
                <div class="button-buy">
                    <button class="buy">COMPRAR</button>
                    
                </div>
            </div>
        </div>
    </section>
      PRODUTO 05 
    <section class="box-prod-home">
        <div class="box-prod">
            <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
            <div class="descricao">
                <ul class="autor">Johnny W. S.</ul>
                <ul class="titulo">HUMILDADE, HONRA e HONESTIDADE</ul>
                <ul class="oferta">
                    R$ 290,00
                </ul>
                <ul class="sale">
                    R$ 199,00
                </ul>
                <div class="button-buy">
                    <button class="buy">COMPRAR</button>
                    
                </div>
            </div>
        </div>
    </section>
     
     PRODUTO 06 
    
    <section class="box-prod-home">
        <div class="box-prod">
            <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
            <div class="descricao">
                <ul class="autor">Johnny W. S.</ul>
                <ul class="titulo">HUMILDADE, HONRA e HONESTIDADE</ul>
                <ul class="oferta">
                    R$ 290,00
                </ul>
                <ul class="sale">
                    R$ 199,00
                </ul>
                <div class="button-buy">
                    <button class="buy">COMPRAR</button>
                </div>
            </div>
        </div>
    </section>
</div>
     -->

      <!-- janela modal .bookWindowArea
    <div class="bookWindowArea">
        <div class="bookWindowBody">
            <div class="bookInfo--cancelMobileButton">Voltar</div>
            <div class="bookBig">
                <img src="" />
            </div>
            <div class="bookInfo">
                <h1>--</h1>
                <div class="bookInfo--desc">--</div>
                <div class="bookInfo--sizearea">
                    <div class="bookInfo--sector">Tamanho</div>
                    <div class="bookInfo--sizes">
                        <div data-key="P" class="bookInfo--size">PEQUENA <span>--</span></div>
                        <div data-key="M" class="bookInfo--size">MÉDIA <span>--</span></div>
                        <div data-key="G" class="bookInfo--size selected">GRANDE <span>--</span></div>
                    </div>
                </div>
                <div class="bookInfo--pricearea">
                    <div class="bookInfo--sector">Preço</div>
                    <div class="bookInfo--price">
                        <div class="bookInfo--actualPrice">R$ --</div>
                        <div class="bookInfo--qtarea">
                            <button class="bookInfo--qtmenos">-</button>
                            <div class="bookInfo--qt">1</div>
                            <button class="bookInfo--qtmais">+</button>
                        </div>
                    </div>
                </div>
                <div class="button-buy-2">Adicionar ao carrinho</div>
                <div class="bookInfo--cancelButton">Cancelar</div>
            </div>
        </div>
    </div>
    /janela modal .bookWindowArea -->

     <!-- <script src="../public/javascripts/scriptcarrinho.js"></script>
     <script src="books.js"></script> -->