<div class="categoria-home">
<section class="categoria">
    <div class="box-home">
            Principais categoria
    </div>
</section>
<section class="categoria">
    <div class="box-categoria">
        <!-- 01-->
        <div class="Promoção-01">
            <div class="icon-box-categoria">
                <img src="/images/sem-foto.jpeg" alt="" sizes="" srcset="" width="30" height="30">
                <div class="text-box-categoria">
                    PROMOÇÃO
                </div>
                <!-- 02-->
                <div class="Promoção-01"></div>
                <div class="icon-box-categoria">
                    <img src="/images/sem-foto.jpeg" alt="" sizes="" srcset=""width="30" height="30">
                </div>
                <div class="text-box-categoria">
                    <span>RECOMENDAÇÕES</span>
                </div>
                <!-- 03-->
                <div class="Promoção-01"></div>
                <div class="icon-box-categoria">
                    <img src="/images/sem-foto.jpeg" alt="" sizes="" srcset=""width="30" height="30">
                </div>
                <div class="text-box-categoria">
                    <span>POLÍTICA</span>
                </div>
                <!-- 04-->
                <div class="Promoção-01"></div>
                <div class="icon-box-categoria">
                    <img src="/images/sem-foto.jpeg" alt="" sizes="" srcset=""width="30" height="30">
                </div>
                <div class="text-box-categoria">
                    <span>HISTÓRIA</span>
                </div>
                <!-- 05-->
                <div class="Promoção-01"></div>
                <div class="icon-box-categoria">
                    <img src="/images/sem-foto.jpeg" alt="" sizes="" srcset=""width="30" height="30">
                </div>
                <div class="text-box-categoria">
                    <span>LITERATURA</span>
                </div>
                <!-- 06-->
                <div class="Promoção-01"></div>
                <div class="icon-box-categoria">
                    <img src="/images/sem-foto.jpeg" alt="" sizes="" srcset=""width="30" height="30">
                </div>
                <div class="text-box-categoria">
                    <span>SOUVENIRS</span>
                </div>
                <!-- 07-->
                <div class="Promoção-01"></div>
                <div class="icon-box-categoria">
                    <img src="/images/sem-foto.jpeg" alt="" sizes="" srcset=""width="30" height="30">
                </div>
                <div class="text-box-categoria">
                    <span>PROGRAMAÇÃO</span>
                </div>
                <!-- 08-->
                <div class="Promoção-01"></div>
                <div class="icon-box-categoria">
                    <img src="/images/sem-foto.jpeg" alt="" sizes="" srcset="" width="30" height="30">
                </div>
                <div class="text-box-categoria">
                    <span>JOGOS</span>
                </div>
                <!-- 09-->
                <div class="Promoção-01"></div>
                <div class="icon-box-categoria">
                    <img src="/images/sem-foto.jpeg" alt="" sizes="" srcset=""width="30" height="30">
                </div>
                <div class="text-box-categoria">
                    <span>QUEBRA-CABEÇA</span>
                </div>
            </div>
        </div>
</section>
</div>