<section>
    <div class="box-home">
    Produtos em destaque
    </div>
</section>
 <!-- CONTAINER PRODUTO 01  -->
<section class="box-autor-home">
    <div class="box-autor-destaque">
    <div class="box-prod-2" data-key="0">
    <a href>
    <div class="box-book">
    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
    </div>
    </a>
    <div class="book-item-price-2">R$120,00</div>
    <div class="book-item-autor-2">Diego Policarpo</div>
    <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
    <div class="book-item--add">COMPRAR</div>
    </div>
    </div>
    
    <div class="box-autor-destaque">
    <div class="box-prod-2" data-key="0">
    <a href>
    <div class="box-book">
    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
    </div>
    </a>
    <div class="book-item-price-2">R$120,00</div>
    <div class="book-item-autor-2">Diego Policarpo</div>
    <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
    <div class="button-buy-2">COMPRAR</div>
    </div>
    </div>
    
    <div class="box-autor-destaque">
    <div class="box-prod-2" data-key="0">
    <a href>
    <div class="box-book">
    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
    </div>
    </a>
    <div class="book-item-price-2">R$120,00</div>
    <div class="book-item-autor-2">Diego Policarpo</div>
    <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
    <div class="button-buy-2">COMPRAR</div>
    </div>
    </div>
    
    <div class="box-autor-destaque">
    <div class="box-prod-2" data-key="0">
    <a href>
    <div class="box-book">
    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
    </div>
    </a>
    <div class="book-item-price-2">R$120,00</div>
    <div class="book-item-autor-2">Diego Policarpo</div>
    <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
    <div class="button-buy-2">COMPRAR</div>
    </div>
    </div>
    
    <div class="box-autor-destaque">
    <div class="box-prod-2" data-key="0">
    <a href>
    <div class="box-book">
    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
    </div>
    </a>
    <div class="book-item-price-2">R$120,00</div>
    <div class="book-item-autor-2">Diego Policarpo</div>
    <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
    <div class="button-buy-2">COMPRAR</div>
    </div>
    </div>
    
    
    <div class="box-autor-destaque">
    <div class="box-prod-2" data-key="0">
    <a href>
    <div class="box-book">
    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
    </div>
    </a>
    <div class="book-item-price-2">R$120,00</div>
    <div class="book-item-autor-2">Diego Policarpo</div>
    <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
    <div class="button-buy-2">COMPRAR</div>
    </div>
    </div>
    </section>
    
    <!-- CONTAINER PRODUTO 02 -->
    <section class="box-autor-home">
    <div class="box-autor-destaque">
    <div class="box-prod-2" data-key="0">
    <a href>
    <div class="box-book">
    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
    </div>
    </a>
    <div class="book-item-price-2">R$120,00</div>
    <div class="book-item-autor-2">Diego Policarpo</div>
    <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
    <div class="book-item--add">COMPRAR</div>
    </div>
    </div>
    
    <div class="box-autor-destaque">
    <div class="box-prod-2" data-key="0">
    <a href>
    <div class="box-book">
    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
    </div>
    </a>
    <div class="book-item-price-2">R$120,00</div>
    <div class="book-item-autor-2">Diego Policarpo</div>
    <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
    <div class="button-buy-2">COMPRAR</div>
    </div>
    </div>
    
    <div class="box-autor-destaque">
    <div class="box-prod-2" data-key="0">
    <a href>
    <div class="box-book">
    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
    </div>
    </a>
    <div class="book-item-price-2">R$120,00</div>
    <div class="book-item-autor-2">Diego Policarpo</div>
    <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
    <div class="button-buy-2">COMPRAR</div>
    </div>
    </div>
    
    <div class="box-autor-destaque">
    <div class="box-prod-2" data-key="0">
    <a href>
    <div class="box-book">
    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
    </div>
    </a>
    <div class="book-item-price-2">R$120,00</div>
    <div class="book-item-autor-2">Diego Policarpo</div>
    <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
    <div class="button-buy-2">COMPRAR</div>
    </div>
    </div>
    
    <div class="box-autor-destaque">
    <div class="box-prod-2" data-key="0">
    <a href>
    <div class="box-book">
    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
    </div>
    </a>
    <div class="book-item-price-2">R$120,00</div>
    <div class="book-item-autor-2">Diego Policarpo</div>
    <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
    <div class="button-buy-2">COMPRAR</div>
    </div>
    </div>
    
    
    <div class="box-autor-destaque">
    <div class="box-prod-2" data-key="0">
    <a href>
    <div class="box-book">
    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
    </div>
    </a>
    <div class="book-item-price-2">R$120,00</div>
    <div class="book-item-autor-2">Diego Policarpo</div>
    <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
    <div class="button-buy-2">COMPRAR</div>
    </div>
    </div>
    </section>
    
    </script> 
    <!-- 
    CONTAINER PRODUTO 01 
    <section class="box-autor-home">
    <div class="box-autor-destaque">
    <div class="box-prod-2" data-key="0">
    <a href>
    <div class="box-book">
    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
    </div>
    </a>
    <div class="book-item-price-2">R$120,00</div>
    <div class="book-item-autor-2">Diego Policarpo</div>
    <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
    <div class="book-item--add">COMPRAR</div>
    </div>
    </div>
    
    
    
    <div class="box-autor-destaque">
    <div class="box-prod-2" data-key="0">
    <a href>
    <div class="box-book">
    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
    </div>
    </a>
    <div class="book-item-price-2">R$120,00</div>
    <div class="book-item-autor-2">Diego Policarpo</div>
    <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
    <div class="button-buy-2">COMPRAR</div>
    </div>
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    CONTAINER PRODUTO 01 
    <section class="box-autor-home">
    <div class="box-autor-destaque">
    <div class="box-prod-2" data-key="0">
    <a href>
    <div class="box-book">
    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
    </div>
    </a>
    <div class="book-item-price-2">R$120,00</div>
    <div class="book-item-autor-2">Diego Policarpo</div>
    <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
    <div class="button-buy-2">COMPRAR</div>
    </div>
    </div>
    
    
    
    <div class="box-autor-destaque">
    <div class="box-prod-2" data-key="0">
    <a href>
    <div class="box-book">
    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
    </div>
    </a>
    <div class="book-item-price-2">R$120,00</div>
    <div class="book-item-autor-2">Diego Policarpo</div>
    <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
    <div class="button-buy-2">COMPRAR</div>
    </div>
    </div>
    
    
    
    <div class="box-autor-destaque">
    <div class="box-prod-2" data-key="0">
    <a href>
    <div class="box-book">
    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
    </div>
    </a>
    <div class="book-item-price-2">R$120,00</div>
    <div class="book-item-autor-2">Diego Policarpo</div>
    <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
    <div class="button-buy-2">COMPRAR</div>
    </div>
    </div>
    
    <div class="box-autor-destaque">
    <div class="box-prod-2" data-key="0">
    <a href>
    <div class="box-book">
    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
    </div>
    </a>
    <div class="book-item-price-2">R$120,00</div>
    <div class="book-item-autor-2">Diego Policarpo</div>
    <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
    <div class="button-buy-2">COMPRAR</div>
    </div>
    </div>
    
    <div class="box-autor-destaque">
    <div class="box-prod-2" data-key="0">
    <a href>
    <div class="box-book">
    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
    </div>
    </a>
    <div class="book-item-price-2">R$120,00</div>
    <div class="book-item-autor-2">Diego Policarpo</div>
    <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
    <div class="button-buy-2">COMPRAR</div>
    </div>
    </div>
    
    aside do carrinho 
    <aside>
    <div class="cart--area">
    <div class="menu-closer">❌</div>
    <h1>Suas books</h1>
    <div class="cart"></div>
    <div class="cart--details">
    <div class="cart--totalitem subtotal">
    <span>Subtotal</span>
    <span>R$ --</span>
    </div>
    <div class="cart--totalitem desconto">
    <span>Desconto</span>
    <span>R$ --</span>
    </div>
    <div class="cart--totalitem total big">
    <span>Total</span>
    <span>R$ --</span>
    </div>
    <div class="cart--finalizar">Finalizar a compra</div>
    </div>
    </div>
    </aside>
    /aside do carrinho -->
    
    <!-- <div class="box-autor-destaque">
    <div class="box-prod-2" data-key="0">
    <a href>
    <div class="box-book">
    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
    </div>
    </a>
    <div class="book-item-price-2">R$120,00</div>
    <div class="book-item-autor-2">Diego Policarpo</div>
    <div class="book-item-titulo-2">HUMILDADE, HONRA e HONESTIDADE</div>
    <div class="button-buy-2">COMPRAR</div>
    </div>
    </div> -->
    
    <!-- </section> -->
    
    
    
    
    <!-- <div class="descricao">
    <ul class="autor">Diego Policarpo</ul>
    <ul class="titulo">HUMILDADE, HONRA e HONESTIDADE</ul>
    <ul class="oferta">
    R$ 290,00
    </ul>
    <ul class="sale">
    R$ 199,00
    </ul> -->
    <!-- <div class="button-buy">
    <button class="buy">COMPRAR</button>
    </div> 
    </div>-->
    
    <!-- </div>
    </section>
    PRODUTO 03 
    <section class="box-prod-home">
    <div class="box-prod">
    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
    <div class="descricao">
    <ul class="autor">Johnny W. S.</ul>
    <ul class="titulo">HUMILDADE, HONRA e HONESTIDADE</ul>
    <ul class="oferta">
    R$ 290,00
    </ul>
    <ul class="sale">
    R$ 199,00
    </ul>
    <div class="button-buy">
    <button class="buy">COMPRAR</button>
    </div>
    </div>
    </div>
    </section>
    PRODUTO 04 
    <section class="box-prod-home">
    <div class="box-prod">
    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
    <div class="descricao">
    <ul class="autor">Johnny W. S.</ul>
    <ul class="titulo">HUMILDADE, HONRA e HONESTIDADE</ul>
    <ul class="oferta">
    R$ 290,00
    </ul>
    <ul class="sale">
    R$ 199,00
    </ul>
    <div class="button-buy">
    <button class="buy">COMPRAR</button>
    </div>
    </div>
    </div>
    </section>
    PRODUTO 05 
    <section class="box-prod-home">
    <div class="box-prod">
    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
    <div class="descricao">
    <ul class="autor">Johnny W. S.</ul>
    <ul class="titulo">HUMILDADE, HONRA e HONESTIDADE</ul>
    <ul class="oferta">
    R$ 290,00
    </ul>
    <ul class="sale">
    R$ 199,00
    </ul>
    <div class="button-buy">
    <button class="buy">COMPRAR</button>
    </div>
    </div>
    </div>
    </section>
    PRODUTO 06 
    <section class="box-prod-home">
    <div class="box-prod">
    <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
    <div class="descricao">
    <ul class="autor">Johnny W. S.</ul>
    <ul class="titulo">HUMILDADE, HONRA e HONESTIDADE</ul>
    <ul class="oferta">
    R$ 290,00
    </ul>
    <ul class="sale">
    R$ 199,00
    </ul>
    <div class="button-buy">
    <button class="buy">COMPRAR</button>
    </div>
    </div>
    </div>
    </section>
    </div>
    -->
    
    <!-- janela modal .bookWindowArea
    <div class="bookWindowArea">
    <div class="bookWindowBody">
    <div class="bookInfo--cancelMobileButton">Voltar</div>
    <div class="bookBig">
    <img src="" />
    </div>
    <div class="bookInfo">
    <h1>--</h1>
    <div class="bookInfo--desc">--</div>
    <div class="bookInfo--sizearea">
    <div class="bookInfo--sector">Tamanho</div>
    <div class="bookInfo--sizes">
    <div data-key="P" class="bookInfo--size">PEQUENA <span>--</span></div>
    <div data-key="M" class="bookInfo--size">MÉDIA <span>--</span></div>
    <div data-key="G" class="bookInfo--size selected">GRANDE <span>--</span></div>
    </div>
    </div>
    <div class="bookInfo--pricearea">
    <div class="bookInfo--sector">Preço</div>
    <div class="bookInfo--price">
    <div class="bookInfo--actualPrice">R$ --</div>
    <div class="bookInfo--qtarea">
    <button class="bookInfo--qtmenos">-</button>
    <div class="bookInfo--qt">1</div>
    <button class="bookInfo--qtmais">+</button>
    </div>
    </div>
    </div>
    <div class="button-buy-2">Adicionar ao carrinho</div>
    <div class="bookInfo--cancelButton">Cancelar</div>
    </div>
    </div>
    </div>
    /janela modal .bookWindowArea -->
    
    <!-- <script src="../public/javascripts/scriptcarrinho.js"></script>
    <script src="books.js"></script> -->