<section>
    <div class="box-home">
        Produtos em destaque
    </div>
</section>


<div class="container-prod">
    <section class="box-prod-home">
        <div class="box-prod">
            <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
            <div class="descricao">
                <div class="flag">
                    <span>novidade</span>
                </div>
                <ul class="autor">Johnny W. S.</ul>
                <ul class="titulo">HUMILDADE, HONRA e HONESTIDADE</ul>
                <ul class="oferta">
                    R$ 290,00
                </ul>
                <ul class="sale">
                    R$ 199,00
                </ul>
                <div class="button-buy">
                    <button class="buy">COMPRAR</button>
                </div>
            </div>
        </div>
    </section>
<!-- PRODUTO 02 -->
    <section class="box-prod-home">
        <div class="box-prod">
            <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
            <div class="descricao">
                <ul class="autor">Diego Policarpo</ul>
                <ul class="titulo">HUMILDADE, HONRA e HONESTIDADE</ul>
                <ul class="oferta">
                    R$ 290,00
                </ul>
                <ul class="sale">
                    R$ 199,00
                </ul>
                <div class="button-buy">
                    <button class="buy">COMPRAR</button>
                </div>
            </div>
        </div>
    </section>
<!-- PRODUTO 03 -->
    <section class="box-prod-home">
        <div class="box-prod">
            <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
            <div class="descricao">
                <ul class="autor">Johnny W. S.</ul>
                <ul class="titulo">HUMILDADE, HONRA e HONESTIDADE</ul>
                <ul class="oferta">
                    R$ 290,00
                </ul>
                <ul class="sale">
                    R$ 199,00
                </ul>
                <div class="button-buy">
                    <button class="buy">COMPRAR</button>
                </div>
            </div>
        </div>
    </section>
    <!-- PRODUTO 04 -->
    <section class="box-prod-home">
        <div class="box-prod">
            <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
            <div class="descricao">
                <ul class="autor">Johnny W. S.</ul>
                <ul class="titulo">HUMILDADE, HONRA e HONESTIDADE</ul>
                <ul class="oferta">
                    R$ 290,00
                </ul>
                <ul class="sale">
                    R$ 199,00
                </ul>
                <div class="button-buy">
                    <button class="buy">COMPRAR</button>
                    <button class="add-carrinho">ADICIONAR AO CARRINHO</button>
                </div>
            </div>
        </div>
    </section>
    <!-- PRODUTO 05 -->
    <section class="box-prod-home">
        <div class="box-prod">
            <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
            <div class="descricao">
                <ul class="autor">Johnny W. S.</ul>
                <ul class="titulo">HUMILDADE, HONRA e HONESTIDADE</ul>
                <ul class="oferta">
                    R$ 290,00
                </ul>
                <ul class="sale">
                    R$ 199,00
                </ul>
                <div class="button-buy">
                    <button class="buy">COMPRAR</button>
                    <button class="add-carrinho">ADICIONAR AO CARRINHO</button>
                </div>
            </div>
        </div>
    </section>
     <!-- PRODUTO 06
    <section class="box-prod-home">
        <div class="box-prod">
            <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
            <div class="descricao">
                <ul class="autor">Johnny W. S.</ul>
                <ul class="titulo">HUMILDADE, HONRA e HONESTIDADE</ul>
                <ul class="oferta">
                    R$ 290,00
                </ul>
                <ul class="sale">
                    R$ 199,00
                </ul>
                <div class="button-buy">
                    <button class="buy">COMPRAR</button>
                </div>
            </div>
        </div>
    </section>  -->
</div>
    