<section class="carrinhoPasso1-section">
    <div class="container-Passo1">
        <div class="box3p-3"><!--Passo 1 - Coluna Esquerda "Borda" -->
            <div class="box2P2"><!--Passo 1 - Coluna Esquerda "Endereço de Entrega" -->
                <p class="h1-passo1">ENDEREÇO DE ENTREGA</p>
            </div>
            <div class="box2P-2"><!--Passo 1 - Coluna Esquerda "Forma de Envio" -->
                <p class="h1-passo2">FORMA DE ENVIO</p>
            </div>
            <h2>Nossos pedidos são despachados<br>24 horas após a confirmação do pagamento!</h2>
            <div class="box3P1-1">
                <label>Express(2 a 10 dias úteis) R$ 9,55</label><br>
                <input type="radio" id="sim" name="diego" value="sim"><label for="sim">SIM</label>
                <input type="radio" id="nao" name="diego" value="nao"><label for="nao">NÃO</label>
            </div><br><br>
            <div class="box2P-3">
                <p class="h1-passo2">FORMA DE PAGAMENTO</p>
            </div>
            <h2>Selecione a forma de pagamento de sua preferência<br>para realizar esta compra!</h2>
            <div class="box3P1-1-1"><br>
                <input type="radio" id="1" name="jhon" value="1"><label for="sim">1 - CARTÃO DE CRÉDITO</label><br><br>
                <input type="radio" id="2" name="jhon" value="2"><label for="nao">2 - BOLETO BANCÁRIO</label><br><br>
                <input type="radio" id="3" name="jhon" value="3"><label for="sim">3 - TRANSFERÊNCIA - PIX</label><br><br>
                <input type="radio" id="4" name="jhon" value="4"><label for="nao">4 - PAGSEGURO</label><br><br>
                                
            </div><br>
            <div class="caixa-btn-passo3-cont3-3">
                <input type="checkbox" id="passo3-checkbox"><label for="passo3-checkbox">
                    Li e concordo com os <a href="">Termos e Condições</a>
                </label>
            </div>
            <div class="box3P1-z">
                <a href="/carrinhoPasso2/"><button type="submit" class="button-continuarcomprandoP1">VOLTAR</button></a>
                <a href="/pedidoFinalizado/"><button type="submit" class="button-continuarcomprandoP2">FINALIZAR COMPRA</button></a>
            </div>
            
        </div>
        
    </div>
</section>