<section class="carrinhoPasso1-section">
    <div class="container-Passo1">
        <div class="box3p-3">
            <div class="box2P2">
                <p class="h1-passo1">ENDEREÇO de ENTREGA</p>
            </div>
            <div class="box2P2">
                <p class="h1-passo3">FORMA DE ENVIO</p>
            </div>
            <div class="box2P2">
                <p class="h1-passo2">FORMA PAGAMENTO</p>
            </div>
            <div class="box2P-3">
                <p class="h1-passo2">FORMA PAGAMENTO</p>
            </div>
            <h2>Tudo pronto !<br> Clique abaixo para gerar seu boleto e parar sua compra.</h2>
            <div class="box3P1-1">
                <button type="submit" class="button-continuarcomprandoP4">FINALIZAR PEDIDO</button><br>
            </div><br>
            <div class="caixa-btn-passo3-cont4">
                <p><strong>Importante:</strong> O boleto é válido por apenas 5(cinco) dias,</p>
                e o pagamento do mesmo pode demorar até 4(quatro) dias úteis para comfirmação.
            </div>
            <button type="submit" class="button-continuarcomprandoP1">CONTINUAR COMPRANDO</button>
        </div>
        <!-- "Coluna-Meu carrinho" -->
        <div class="box1P1-1">
            <div class="box1P1-A">
                <h1 class="h1-1-1">MEU CARRINHO</h1>
            </div>
            <div class="box1P1-2">
                <button type="submit" class="btn-passo1">Alterar CARRINHO</button>
            </div>
            <div class="box1P1-3">
                <div class="textoimgP1-1">
                    <div class="imgP1-1">
                        <h2>LIVRO</h2>
                    </div>
                </div>
            </div>
            <div class="box1P1-4">
                <p class="h2-P1-4">Total em produtos</p>
                <p class="p-P1-4">Expresso (2 a 10 dias úteis)</p>
            </div>
            <div class="box1P1-5">
                <div class="box1P1-5-1">
                    <p class="h1-P1-5">Total</p>
                </div>
                <div class="box1P1-5-2">
                    <p class="p-P1-5">R$ 49,55</p>
                </div>
            </div>
            <div class="caixa-btn-passo1-cont">
                <button type="submit" class="btn-passo1-cont">CONTINUAR</button>
            </div>
            <div class="box1P1-6">
                <p class="passo1">Passo 4 - 4</p>
            </div>
            <div class="box1P1-7">
                <div class="texto-box1P1-7">
                    <h1 class="h1-box1P1-7">Quer frete grátis?</h1>
                    <p class="p-box1P1-7">Adicione ****** para ter frete grátis!</p>
                    <p class="p2-box1P1-7">Confira algumas sugestões</p>
                </div>
            </div>
        </div>
    </div>
</section>