<%- include('header'); %>
<section class="carrinhoPasso1-section">

    <div class="container-Passo1">
        <div class="box1P1-CF">

            <div class="box2P4-4">
                <h1 class="h1-1">PEDIDO REALIZADO COM SUCESSO!</h1>
            </div>
            

            <div class="box-pedidoFinalizado">
                <P class="p1-pedidoFinalizado">
                  Olá, <%= orderClient.first_name %> !<br>
                  Muito OBRIGADO por comprar nosso(s) produto(s). <br>
                  Agradecemos pela sua confiança!
                </P>
            </div>

            
        
    </div>
</section>