<section class="carrinhoPasso1-section">
    <div class="container-Passo1">
        <div class="box3p-3"><!--Passo 1 - Coluna Esquerda "Borda" -->
            <div class="box2P2"><!--Passo 1 - Coluna Esquerda "Endereço de Entrega" -->
                <p class="h1-passo1">ENDEREÇO de ENTREGA</p>
            </div>
            <div class="box2P2"><!--Passo 1 - Coluna Esquerda "Forma de Envio" -->
                <p class="h1-passo3">FORMA DE ENVIO</p>
            </div>
            <div class="box2P2">
                <p class="h1-passo2">FORMA PAGAMENTO</p>
            </div>
            <div class="box2P-3">
                <p class="h1-passo2">FORMA PAGAMENTO</p>
            </div>
            <h2>Tudo pronto !<br> Clique abaixo para gerar seu boleto e parar sua compra.</h2>
            <div class="box3P1-1">
                <button type="submit" class="button-continuarcomprandoP4-1">FINALIZAR PEDIDO</button><br>
            </div><br>
            <div class="caixa-btn-passo3-cont4">
                <p><strong>Importante:</strong> O boleto é válido por apenas 5(cinco) dias,</p>
                e o pagamento do mesmo pode demorar até 4(quatro) dias úteis para comfirmação.
            </div>
            <button type="submit" class="button-continuarcomprandoP4-4">CONTINUAR COMPRANDO</button>
        </div>
        
    </div>
</section>