<main>
    <!-- LINE 1 - HISTORICO DE NAVEGAÇÃO-->
    <section>
        <p class="historico">Destaque / Livro XXX</p>
    </section>

    <!-- LINE 2 - DESCRICAO PRODUTO-->
    <div class="description">
        <div class="photo-left">
            <img class="left" src="/images/sem-foto.jpeg" alt="" srcset="">
            <img class="left" src="/images/sem-foto.jpeg" alt="" srcset="">
            <img class="left" src="/images/sem-foto.jpeg" alt="" srcset="">
            <img class="left" src="/images/sem-foto.jpeg" alt="" srcset="">
        </div>
        <div class="photo-principal">
            <img src="/images/sem-foto.jpeg" width="350vw;" alt="">
        </div>
        <div class="description-book">
            <div class="author">
                <h4>DIEGO TENGAN</h4>
            </div>
            <div class="produt-name">
                <h2>MEUS 3 SAMURAIS</h2>
            </div>
            <!-- <div class="like">
            <a title="Adicionar a lista de desejo">8888888</a> ADICIONAR DIV PARA CORAÇÃO DE LIKE
        </div>   -->
            <div class="price-1">
                <span class="price-old">De: R$100,00</span>
                <span class="price-new">Por: R$82,80</span>
                <br>
            </div>
            <div class="flag-desct">
                <span>- -R$ 12,00 </span>
            </div>

            <div class="button-buy">
                <button class="buy">COMPRAR</button>
            </div>
            <div class="button-buy">
                <button class="buy">COMPRAR</button>
                <button class="add-carrinho">ADICIONAR AO CARRINHO</button>
            </div>
            <div class="compartilhar">
                <spam class="title-compartilhar">Compartilhar</spam>
                <a class="facebook" target="_blank" href="">_</a>

                <a class="twitter" target="_blank" href="">_</a>


                <a class="instagram" target="_blank" href="">_</a>


                <a class="gplus" target="_blank" href="">_</a>

            </div>
        </div>

    </div>
    <!-- LINE 3 - DESCRICAO PRODUTO - 2-->
    <div class="details">
        <div class="details-description">
            <div class="item-details">
                <label>Páginas</label>
                <span>450</span>
            </div>
            <div class="item-details">
                <label>Idioma</label>
                <span>Inglês</span>
            </div>
            <div class="item-details">
                <label>ISBN</label>
                <span>0000000000000</span>
            </div>
            <div class="item-details">
                <label>Medidas</label>
                <span>16 x 23 </span>
            </div>
            <div class="item-details">
                <label>Editora</label>
                <span>Interna </span>
            </div>
        </div>
        <div class="sinopse">
            <h4>
                "Sinopse"
                <span>HTML</span>
            </h4>
            <div class="resumo">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim repellendus vitae aspernatur
                    magni voluptas voluptates, earum quibusdam quos facilis incidunt natus neque corporis
                    nesciunt sed odio quam consequuntur eum cumque!

                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ratione quas magni ipsa
                    nesciunt! Voluptates odit accusantium, sequi impedit laborum fugit itaque? Quasi modi, omnis
                    blanditiis facilis dolore ab debitis.
                </p>
                <p><br><br>
                    <strong> Sobre o autor</strong>
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. A, ipsum error nobis in accusamus
                    voluptatibus hic officiis corporis explicabo doloremque necessitatibus inventore minus
                    aperiam laudantium, alias labore odio nihil fugit.
                </p>
                <br>
                <br>
                <br>
                <b>Ficha Técnica</b>
                <br>
                "ISBN: 000000000000000"
                <br>
                Editora: Interna
                <br>
                Dimensão: 16 x 26 cm
                <br>
                Páginas: 600
                <br>
                Idioma: Inglês
                <br>
            </div>
        </div>   
</main>
