



<div class="container-promocao">
    <div class="line-promocao">
        <div class="menu-promo-01">
            <img src="/images/sacola.png" alt="" sizes="" srcset="" width="40px" height="40px">
            +55 (19) 97409-7383
        </div>
        <div class="menu-promo-01">
            <img src="/images/sacola.png" alt="" sizes="" srcset="" width="40px" height="40px">
            PARCELAMENTO EM ATÉ 6X</div>
        <div class="menu-promo-01">
            <img src="/images/sacola.png" alt="" sizes="" srcset="" width="40px" height="40px">
            ENTREGAMOS EM TODO O BRASIL</div>
    </div>
</div>



<!-- FOOTER DIEGO-->
<footer>
    <div class="wrapper">
        <div class="footer-box0">
            <div class="company-footer">
                <img src="/images/logosimples.png" width="160px" height="100px">
                
                <h2>ENDEREÇO</h2>
                <p>Rua Carolina Pasquini Antoniolli, 204<br>
                    Barão Geraldo - Campinas/SP <br>
                    TEL (19) 978 282 778
                </p>
            </div>
        </div>
        <div class="footer-box1">
            <div class="articles-footer">
                <h2>MAPA DO SITE</h2>
                <ul class="footer-list footer-article-list">
                    <li><a href="#">Destaques</a></li>
                    <li><a href="#">Mais vendidos</a></li>
                    <li><a href="#">Autores</a></li>
                    <li><a href="#">Editoras</a></li>
                    <li><a href="#">Novidades</a></li>
                    <li><a href="#">Newsletter</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-box2">
            <h2>INFORMAÇÕES</h2>
            <ul class="footer-list">
                <li><a href="#">Frete grátis</a></li>
                <li><a href="#">Sobre a livraria</a></li>
                <li><a href="#">Entregas e despacho</a></li>
                <li><a href="#">Trocas e devoluções</a></li>
                <li><a href="#">Termos de uso</a></li>
            </ul>
        </div>
        <div class="footer-box3">
            <h2>FALE CONOSCO</h2>
            <ul class="footer-list">
                <h5>Johnny</h5>
                <h5>Diego</h5>
                <h5>Tago</h5>
                <li><a href="#">Trabalhe na nossa empresa!</a></li>
            </ul>
        </div>
    </div>
    </div>
    <!--<div class="line-third">
<span></span>
</div>>-->
    <div class="line-third">
        <span>© Copyright 2022 Livraria do Martin S.A.</span>
    </div>
</footer>
<!--<div class="footer-bottom">
<div class="wrapper">
<p>© Copyright 2022 Livraria do Martin S.A.</p>
</div>
</div> -->
</footer>

</body>

</html>