<!-- CADASTRO-->
<section>
    <div class="box-cadastro">
        <!-- <p class="titulo">LOGIN</p><br> -->
        <div class="cadastro">
            <form>
                <label class="titulo-form-cadastro">DADOS PESSOAIS</label><br><br>

                    <label for="nome" class="input-text-cadastro">Nome*</label>
                    <input type="text" name="nome" id="nome" class="input-text-cadastro-campo" required ><br>

                    <label for="sobrenome" class="input-text-cadastro">Sobrenome*</label>
                    <input type="text" name="sobrenome" id="sobrenome" class="input-text-cadastro-campo" required ><br>

                    <label for="email" class="input-text-cadastro">E-mail*</label>
                    <input type="email" name="email" id="email" class="input-text-cadastro-campo" required
                    placeholder="seuemail@email.com.br"><br>

                    <label for="confirmeseuemail" class="input-text-cadastro">Confirmar E-mail*</label>
                    <input type="confirmeseuemail" name="confirmeseuemail" id="confirmeseuemail" class="input-text-cadastro-campo" required
                    placeholder="seuemail@email.com.br"><br>

                    <label for="senha" class="input-text-cadastro">Senha*</label>
                    <input type="password" name="senha" id="senha" class="input-text-cadastro-campo" required><br>

                    <label for="confirmesuasenha" class="input-text-cadastro">Confirmar Senha*</label>
                    <input type="password" name="confirmesuasenha" id="confirmesuasenha" class="input-text-cadastro-campo" required><br>

                    <label for="telephone" class="input-text-cadastro">Telefone*</label>
                    <input type="number" name="telephone" id="telephone" class="input-text-cadastro-campo" required ><br>
                    
                    <label for="cpf" class="input-text-cadastro">CPF*</label>
                    <input type="number" name="cpf" id="cpf" class="input-text-cadastro-campo" required ><br>

                    <label class="titulo-form-cadastro">ENDEREÇO</label><br>

                    <label for="rua" class="input-text-cadastro">Rua*</label>
                    <input type="text" name="rua" id="rua" class="input-text-cadastro-campo" required ><br>

                    <label for="numero" class="input-text-cadastro">Número*</label>
                    <input type="number" name="numero" id="numero" class="input-text-cadastro-campo" required ><br>

                    <label for="bairro" class="input-text-cadastro">Bairro*</label>
                    <input type="text" name="bairro" id="bairro" class="input-text-cadastro-campo" required ><br>

                    <label for="cidade" class="input-text-cadastro">Cidade*</label>
                    <input type="text" name="cidade" id="cidade" class="input-text-cadastro-campo" required ><br>

                    <label for="estado" class="input-text-cadastro">Estado*</label>
                    <select name="estado" id="estado" class="input-text-cadastro-campo" required>
                        <option selected disabled>Selecione</option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceara</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select><br><br>

                    <label for="cep" class="input-text-cadastro">CEP*</label>
                    <input type="number" name="cep" id="cep" class="input-text-cadastro-campo" required ><br>

                    <button type="submit" value= "enviar"class="btn-cadastre-se-cadastro">CADASTRE-SE</button>

                
                
            </form>
        </div>
    </div>
</section>