<!-- LOGIN-->
<section>
    <div class="box-login">
        <!-- <p class="titulo">LOGIN</p><br> -->
        <div class="login">
            <form>
                <label class="titulo-form">LOGIN</label><br><br>
                <label for="email" class="input-text">E-mail</label>
                <input type="email" name="email" id="email" class="input-email" required
                    placeholder="seuemail@email.com.br"><br>
                <label for="senha" class="input-text">Senha</label>
                <input type="password" name="senha" id="senha" class="input-email" required><br>
                <button type="submit" class="btn-entrar">ENTRAR</button>
                <p class="input-esqueceu-1">Esqueceu sua senha?</p>
            <hr>
                <p class="input-esqueceu">Não tem cadastro?</p>
                <button type="submit" class="btn-cadastre-se">CADASTRE-SE</button>
            </form>
        </div>
    </div>
</section>