<!-- LOGIN-->
<section>
    <div class="box-login">
        <!-- <p class="titulo">LOGIN</p><br> -->
        <div class="login">
            

            <form class="form-login" action="/login" method="POST">
                <h4>Faça seu login</h4><br>

                <p>Se você já tem uma conta, faça login abaixo:</p><br><br>
                
                <div>
                    <label class="titulo-form"></label><br>
                    <label for="email" class="input-text">E-mail</label>
                    <input type="email" name="email" id="email" class="input-email" required placeholder="seuemail@email.com.br">
                    <br>
                </div>
                <div>
                    <label for="senha" class="input-text">Senha</label>
                    <input type="password" name="senha" id="senha" class="input-email" required>
                    <br><br>
                </div>
                <button type="submit" class="btn-entrar">ENTRAR</button>
                <p class="input-esqueceu-1">Esqueceu sua senha?</p>
                    <hr>
                <p class="input-esqueceu">Não tem cadastro?</p>
                
            </form>
        </div>
    </div>
</section>
<!-- CADASTRO-->
<section>
    <div class="box-cadastro">
        <div class="cadastro">
            <form action="/register" method="POST" class="formulario" id="formulario"> <!-- * Adicionado: action + method -->
                <h4>Faça seu cadastro</h4><br>
                <p>Se você ainda não tem conta, preencha o formulário abaixo:</p><br><br>
                <div class="header">              
                    <label class="titulo-form-cadastro">DADOS PESSOAIS</label><br><br>
                </div> 

                    <div class="form-control">
                        <label for="nome" class="input-text-cadastro">Nome*</label>
                        <input type="text" name="nome" id="nome" class="input-text-cadastro-campo">
                        <br>
                    </div>

                    <div class="form-control">
                        <label for="sobrenome" class="input-text-cadastro">Sobrenome*</label>
                        <input type="text" name="sobrenome" id="sobrenome" class="input-text-cadastro-campo" required >
                        <br>
                    </div>
                        
                    <div>
                        <label for="endereco" class="input-text-cadastro">ENDEREÇO*</label>
                        <input type="text" name="endereco" id="endereco" class="input-text-cadastro-campo" required >
                        <br>
                    </div>

                    <div>
                        <label for="cpf" class="input-text-cadastro">CPF</label>
                        <input type="number" name="cpf" id="cpf" class="input-text-cadastro-campo" >
                        <br>
                    </div>

                    <div>
                        <label for="telephone" class="input-text-cadastro">Telefone</label>
                        <input type="number" name="telephone" id="telephone" class="input-text-cadastro-campo">
                        <br>
                    </div>
                  
                    <div class="form-control">
                        <label for="email" class="input-text-cadastro">E-mail*</label>
                        <input type="email" name="email" id="email" class="input-text-cadastro-campo" required placeholder="seuemail@email.com.br">
                        <br>
                    </div>

                    <div>
                        <label for="senha" class="input-text-cadastro">Senha*</label>
                        <input type="password" name="senha" id="senha" class="input-text-cadastro-campo" required>
                        <br>
                    </div>
           
                    <button type="submit" value= "enviar"class="btn-cadastre-se-cadastro">CADASTRE-SE</button>
            </form>
        </div>
    </div>
    <script src="formulario.js"></script>
</section>
<%- include('footer'); %>