<script>
    function mask(i,t){
   
   var v = i.value;
   
   if(isNaN(v[v.length-1])){
      i.value = v.substring(0, v.length-1);
      return;
   }
   
   if(t == "cpf"){
      i.setAttribute("maxlength", "14");
      if (v.length == 3 || v.length == 7) i.value += ".";
      if (v.length == 11) i.value += "-";
   }

   if(t == "tel"){
      if(v[2] == 9){
         i.setAttribute("maxlength", "12");
         if (v.length == 7) i.value += "-";
      }else{
         i.setAttribute("maxlength", "11");
         if (v.length == 6) i.value += "-";
      }
   }
};
</script>
 
<!-- LOGIN-->
<section>
    <div class="box-login">
        <!-- <p class="titulo">LOGIN</p><br> -->
        <div class="login">
            
    
            <form class="form-login" action="/login" method="POST">
                <h4>Faça seu login</h4><br>

                <p>Se você já tem uma conta, faça login abaixo:</p><br><br>
                
                <div class="form-control">
                    <label class="titulo-form"></label><br>
                    <label for="email" class="input-text"><b>Email: </b></label>
                    <input type="email" name="email" id="email" class="input-email"  placeholder="seuemail@email.com.br">
                    <br>
                </div>
                <div class="form-control">
                    <label for="senha" class="input-text"><b>Senha: </b></label>
                    <input type="password" name="senha" id="senha" class="input-email" >
                    <br><br>
                </div>
                <div class="form-control-1">
                    <input type="checkbox" name="logado" id="logado" class="" >
                    <label for="logado" class="input-email-1"><i>Manter logado?</i></label>
                    <br><br>
                </div>
                <br><button type="submit" class="btn-entrar">ENTRAR</button><br><br>
                <hr>
                <p class="input-esqueceu-1">Esqueceu sua senha?</p>
                    
            </form>
        </div>
    </div>
        <p class="input-esqueceu">Não tem cadastro?</p>
    
    <!-- CADASTRO-->
    <div class="box-cadastro">
        <div class="cadastro">

            <form action="/login/register" method="POST" class="formulario" id="formulario"> <!-- * Adicionado: action + method -->
                <h4>Faça seu cadastro</h4><br>
                <p>Se você ainda não tem conta, preencha o formulário abaixo:</p><br><br>
                <div class="header">              
                    <label class="titulo-form-cadastro">DADOS PESSOAIS</label><br><br>
                </div>
                
                <div class="msg-error">
                    <!-- Errors msg ... -->
                    <% if(typeof errors !== 'undefined'){ %>
                        <ul>
                            <% for(let error in errors ){%>
                            <li>
                                <b><%= error %>: </b>
                                <%=errors[error].msg %>
                            </li>
                            <% } %>
                        </ul>
                    <% } %>
                    <!-- FIM Errors msg ... -->
                </div><br>

                    <div class="form-control">
                        <label for="nome" class="input-text-cadastro">Nome: </label>
                        <input type="text" name="nome" id="nome" class="input-text-cadastro-campo">
                        <br>
                    </div>

                    <div class="form-control">
                        <label for="sobrenome" class="input-text-cadastro">Sobrenome: </label>
                        <input type="text" name="sobrenome" id="sobrenome" class="input-text-cadastro-campo"> 
                        <br>
                    </div>
                        
                    <div class="form-control">
                        <label for="endereco" class="input-text-cadastro">Endereço: </label>
                        <input type="text" name="endereco" id="endereco" class="input-text-cadastro-campo" >
                        <br>
                    </div>

                    <div class="form-control">
                        <label for="cpf" class="input-text-cadastro">CPF: </label>
                        <input type="text" name="cpf" oninput="mask(this, 'cpf')" id="cpf" class="input-text-cadastro-campo" >
                        <br>
                    </div>

                    <div class="form-control">
                        <label for="telefone" class="input-text-cadastro">Telefone: </label>
                        <input type="text" name="telefone" oninput="mask(this, 'tel')" id="tel" id="telefone" class="input-text-cadastro-campo">
                        <br>
                    </div>
                  
                    <div class="form-control">
                        <label for="email" class="input-text-cadastro">Email: </label>
                        <input type="email" name="email" id="email" class="input-text-cadastro-campo"  placeholder="seuemail@email.com.br">
                        <br>
                    </div>

                    <div class="form-control">
                        <label for="senha" class="input-text-cadastro">Senha: </label>
                        <input type="password" name="senha" id="senha" class="input-text-cadastro-campo" >
                        <br>
                    </div>
           
                    <button type="submit" value= "enviar"class="btn-cadastre-se-cadastro">CADASTRE-SE</button>
            </form>
        </div>
    </div>
    <script src="formulario.js"></script>
</section>