<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
  </head>
  <body>
  <%- include('header'); %>
  <%- include('form-pag-login'); %>
  <%- include('footer'); %>
  </body>
</html>