<!-- LINE 4 - TALVEZ VOCÊ GOSTE-->

</div>
<div class="line-3" style="width: 1000px;">
    <div class="box-like">
    "Talvez você goste"
</div>
</div>

<section>
    <div class="box-sugestao">
        <div class="box-prod">
            <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
            <div class="descricao">
                <ul class="autor">Gustavo Corção</ul>
                <ul class="titulo">Dez anos: Crônicas</ul>
                <ul class="oferta">
                    R$ 60,00
                </ul> 
                <ul class="sale">
                    R$ 49,00
                </ul>
                <div class="button-buy">
                    <button class="buy">COMPRAR</button>
                </div>
            </div>
        </div>
    
    
        <div class="box-prod">
            <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
            <div class="descricao">
                <ul class="autor">Gustavo Corção</ul>
                <ul class="titulo">Dez anos: Crônicas</ul>
                <ul class="oferta">
                    R$ 60,00
                </ul>
                <ul class="sale">
                    R$ 49,00
                </ul>
                <div class="button-buy">
                    <button class="buy">COMPRAR</button>
                </div>
            </div>
        </div>
    
    
        <div class="box-prod">
            <img src="/images/CatecismoDaIgrejaCatolicaGrande-142x214.jpeg" alt="" sizes="" srcset="">
            <div class="descricao">
                <ul class="autor">Gustavo Corção</ul>
                <ul class="titulo">Dez anos: Crônicas</ul>
                <ul class="oferta">
                    R$ 60,00
                </ul>
                <ul class="sale">
                    R$ 49,00
                </ul>
                <div class="button-buy">
                    <button class="buy">COMPRAR</button>
                </div>
            </div>
        </div>
    </div>
</section>

</div>