* {
    margin: 0;
}

header {
    background-color: #356859;
    display: table;
    text-align: center;
    font-family: sans-serif;
    /* position: fixed; */
    /* z-index: 10000; */
    display: flex;
    justify-content: space-between;
    width: 100%;
}

body {
    width: 100%;
    /*height: 70%; */
    /* font-family: sans-serif;
    font-size: 15px; */
}

/*hamb-menu*/



/* LINHA AJUDA AO CLINETE --TESTE--*/
.navegacao-central {
    width: 100%;
    /* height: 50%; */
}

.header-help {

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px;
    font-size: 12px;
    font-family: sans-serif;
    width: 225px;
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    margin: auto;

}

.phone {
    display: flex;
    color: #ffffff;
    gap: 10px;
    align-items: center;
    justify-content: center;
    cursor: unset;
    font-size: 10px;
    font-family: sans-serif;
}

.btn-help {
    display: flex;
    background-color: #FD5523;
    color: #ffffff;
    align-content: center;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    border-bottom: 0;
    width: auto;
    line-height: 14px;
    margin-top: 7px 0 0 7px;
    padding: 4px 15px;
    cursor: pointer;

}

.btn-help:hover {
    background-color: #356859;
    transition: 0.10s;
    border: solid 0.5px white;
}

.header-phone {
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
}

/* LOGO / SEARCH / LOGIN / CRIAR CONTA */

.menu-search {
    display: flex;
    padding-top: 10px;
    align-items: center;
    padding: 0 60px;
    margin: 10px 0px 20px 0px;
}

#logo {
    background-position: center;
    background-size: cover;
    display: flex;
    /* width: initial;
    height: initial; */
    top: 40px;
}

.logo-img {
    display: flex;
    width: 100%;
}

#search {
    display: flex;
    justify-content: center;
    width: 100%;

}

.btn-busca {
    background-color: #ffffff;
    border: 2px solid #ffffff6e;
    box-shadow: 0px 1px 4px #00000000;
    border-radius: 45px;
    width: 530px;
    height: 31px;
    border-radius: 15px;
    font-size: 13px;
    padding: 5 10px;
    transition: 1.5s;
    line-height: 63px;
    margin: 0 100px;
}

/* #img-search{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    right: 0;
    cursor: pointer;
    z-index: 2;
} */

/* .menu-central{
} */

#login,
#login-1,
#login-2 {
    /* margin-right: 10px; */
    display: flex;
    /* flex-direction: column; */
    padding: 6px;
    justify-content: center;
    gap: 10px 10px;
    /* border: 3px solid blue; */
}

#login-text,
#login-text-1,
#text-menu-bar,
#menu-text {
    border: solid pink 3px;
    display: flex;
    gap: 10px 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 10px;
}

#login-text-2 {
    border: #FD5523 2px solid;
    color: #F5F4F4;
    font-weight: bold;
    font-size: 14px;
}

.icon-user,
.icon-sacola,
.icon-menu {
    display: flex;
    width: 100%;
}

/* BANNER */

.first-banner {
    padding: 15px 5px;
    width: auto;
    height: 100%;
    margin: auto;
    transform: translateX(-0%);
}


/* MENU BAR*/

#geral {
    display: flex;
    background-color: #37966F;
    height: 5vh;
    color: #ffffff;
    font-family: sans-serif;
    padding: 0 80px;
    justify-content: space-between;
    align-items: center;
}

span {
    display: flex;
    align-items: center;
}


#menu-central-text,
#menu-esquerda-text {
    display: flex;
}

.destaque-menu-central {
    font-family: sans-serif;
    font-size: 14px;
    margin: 0px -2px;
    display: inline-block;
    padding: 12px 20px;
    text-transform: uppercase;
    position: relative;
}

.social-media,
.hamb-menu {
    display: flex;
    gap: 20px;
}

.icon-menu-facebook {
    font-family: sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}



/* -------------------------- TESTE JOHNNY 
  
  /* MENU HAMBURGER*/
/*
  a{
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  }
  a:hover{
  background-color: transparent;
  }
  
  .text-hb{
  font-family: sans-serif;
  font-size: 18px;
  color: white;
  
  }
  
  #menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.5rem;
  padding: 0.5rem;
  }
  
  #menu a{
  display: block;
  padding: .5rem;
  }
  
  #btn-mobile{
  display: none;
  }
  
  @media (max-width: 600px) {
  }
  #menu {
  display: block;
  position: absolute;
  width: 20%;
  top: 17%;
  left: 0;
  background: lightgreen;
  transition: 0.3s;
  z-index: 1000;
  height: 0;
  visibility: hidden;
  overflow-y: hidden;
  }
  
  #nav.active #menu {
  display: flex;
  height: calc(100vh - 70px);
  visibility: visible;
  overflow-y: auto;
  }
  
  #menu a {
  padding: 1rem 0;
  margin: 0 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  gap: 1rem;
  }
  #hamburger {
  border-top: 3px solid;
  width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  transition: 0.3s;
  position: relative;
  }
  #nav.active #hamburger {
  border-top-color: blue;
  }
  #nav.active #hamburger::before {
  transform: rotate(134deg);
  }
  
  #nav.active #hamburger::after {
  transform: rotate(-135deg);
  top: -7deg;
  } 
  /* -------------------------- TESTE JOHNNY 
  
  
  
  /* PAGINA HOME */

/* BOX HOME*/

.categoria {
    background-color: pink;
    /*#F5F4F4 */
    display: none;
    user-select: none;
}

.box-home {
    font-size: 20px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
}

/* BOX CATEGORIA*/

.box-categoria {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* max-width: 1600px; */
    margin: auto;
    position: relative;

}

.icon-box-categoria {
    display: flex;
    width: 40px;
    height: 40px;

}

.text-box-categoria {
    /*retirado SPAN */
    display: flex;
    align-items: center;
    padding-right: 31px;
    font-family: sans-serif;
    bottom: 0;
    left: 0;
    font-size: 13px;
    color: black;
    height: auto;


}

/* BOX PRODT*/

.container-prod {
    display: flex;
    width: auto;
    align-items:fit-content;
}

.box-prod-home {
    display: flex;
    flex-grow: 2;
    font-size: 20px;
    padding: 10px 10px;
    align-items: center;
    

}

.box-prod {
    border: #e0dfdf 2px solid;
    display: flex;
    background-color: #ffffff;
    padding: 10px;
    gap: 10px;
    align-items: center;
    border-radius: 10px;

}

.descricao {
    /* font-size: 22px;
    color: rgb(213, 12, 166); */
    text-align: center;
}

.autor {
    font-size: 40px;
    font-weight: bolder;
    font-style: oblique;
    font-family: sans-serif;
    color: #656565;
}

.titulo {
    color: rgb(0, 4, 0);
    font-size: 18px;
}

.btn-price {
    font-size: 33px;
    background-color: #FD5523;
    font-weight: bolder;
    text-align: center;

}

/* FIM */

/* PÁGINA PRODUTO */

/* SECTION*/

section {
    background-color: #F5F4F4;
}

/* DESCRICAO PRODUTO*/

/*-- LINE 1 - HISTORICO DE NAVEGAÇÃO*/

.historico {
    text-align: left;
    margin: 10px 50px;
    font-size: 18px;
}

/*-- LINE 2 - DESCRICAO PRODUTO*/
.description {
    display: flex;
    justify-content: space-around;


}

.photo-left {
    display: flex;
    flex-direction: column;


}

.left {

    width: 100px;
    height: 120px;
}

.photo-principal {
    display: flex;
    justify-content: center;
}

.description-book {
    font-size: 19px;
    margin: 10px 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.author,
.produt-name {
    text-align: left;
}

/*Adicionei as classes - (autor, titulo, oferta, sale) */
.autor {
    color: #656565;
    font-family: sans-serif;
    font-size: 18px;
}

.titulo {
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.oferta {
    text-decoration: line-through;
    font-size: 18px;
    font-weight: bold;
    color: #FD5523;
}

.sale {
    font-size: 25px;
    font-weight: bold;
    color: black;


}

.author {
    color: #818181;
}

.price-1 {
    padding-top: 20px;
    text-align: left;
}

.buy,
.add-carrinho {
    border-radius: 12px;
}

.flag {
    background-color: #00bcd4;
    color: #ffffff;
    font-size: 11px;
    padding: 1px 6px;
    width: auto;
    height: auto;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 2px;
    text-align: center;
}

.button-buy{
display: flex;
padding: 3px 3px;
align-items: center;
}

.buy {
    background-color: #FD5523;
    color: white;
    font-size: 12px;
    line-height: 22px;
    width: 100px;
    border-color: #FD5523;
    font-weight: bolder;
    letter-spacing: 3px;
    padding: 0px 10px;
    font-family: sans-serif;
}

.add-carrinho {
    background-color: #356859;
    color: white;
    font-size: 12px;
    line-height: 22px;
    width: 80px;
    border-color: #e0dfdf;
    font-weight: bolder;
    letter-spacing: 3px;
    font-family: sans-serif;
}

.add-carrinho {
    background-color: #356859;
    color: white;
    font-size: 16px;
    line-height: 42px;
    width: 400px;
}

.compartilhar {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* LINE 3 - DESCRICAO PRODUTO - 2 */

/* .details {
  } */

.details-description {
    border: black 5px solid;
    display: flex;
    justify-content: space-between;

}

.item-details {
    border: 1px solid lightpink;
    padding: 2px 32px;
}

/*LINE 4 - SUGESTÃO DE LIVRO */

.box-sugestao {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 40px 0px;

}

.box-prod {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.box-like {
    font-size: 26px;
    margin: 0 50px;
    padding: 30px 0;

}


/* FIM */

/* PAG NEWSLETTER - FORM */

/* FORM*/
.box-newsletter {
    display: flex;
    border: lightgrey 1px solid;
    flex-direction: column;
    align-items: center;
}

.titulo {
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 10px;

}

.dados-newsletter {

    display: flex;
    border: lightgray 1px solid;
    background-color: #ffffff;
    justify-content: center;
    padding: 40px 40px;
    margin-bottom: 40px;
}

.input-padrao {
    width: 40px;
    margin-bottom: 20px;
}

.input-email {
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
}

.btn-cadastrar {
    display: flex;
    justify-content: center;
    background-color: #37966F;
    color: #ffffff;
    margin: 10px 10px;
    padding: 10px 10px;
    width: 180px;
}

/* FIM */

/* PAGIINA LOGIN */

/* FORM LOGIN - LINE 1*/
.box-login {
    display: flex;
    border: lightgrey 1px solid;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.login {

    display: flex;
    border: lightgray 1px solid;
    background-color: #ffffff;
    justify-content: center;
    padding: 40px 40px;
    margin-bottom: 40px;
}

.titulo-form {
    font-size: 22px;
}

.input-text {
    font-size: 22px;
}

.input-email {
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    font-size: 14px;
}

.btn-entrar {
    background-color: #37966F;
    color: #ffffff;
    margin: 10px 10px;
    padding: 10px 10px;
    width: 250px;
}

.input-esqueceu-1 {

    font-size: 17px;
    font-style: oblique;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;

}

/* FORM CADASTRE-SE - LINE 2*/

.input-esqueceu {
    font-size: 22px;
    font-style: initial;
    text-align: center;
    margin-top: 20px;
}

.btn-cadastre-se {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-color: #FD5523;
    color: #ffffff;
    margin: 10px 10px;
    padding: 10px 10px;
    width: 250px;

}

/* FIM */


/* PAGIINA CADASTRE-SE ......................................................*/

/* FORM CADASTRO - LINE 1*/
.box-cadastro {
    display: flex;
    /* border: lightgrey 1px solid; */
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.cadastro {

    display: flex;
    /* border: lightgray 1px solid; */
    background-color: #ffffff;
    justify-content: center;
    padding: 40px 40px;
    /* margin-bottom: 40px; */
}

.titulo-form-cadastro {
    font-size: 25px;
    color: #37966F;
    font: bolder;
    font-weight: 900;
}

.input-text-cadastro {
    font-size: 22px;
}

.input-text-cadastro-campo {
    width: 300px;
    height: 30px;
    margin-bottom: 15px;
    font-size: 14px;
    box-shadow: 2px 2px 2px rgba(157, 155, 155, 0.2);
    border-style: solid;
}

.btn-cadastre-se-cadastro {
    display: flexbox;
    justify-content: center;
    border-radius: 15px;
    background-color: #FD5523;
    color: #ffffff;
    margin: 10px 10px;
    padding: 10px 10px;
    width: 250px;
    border-style: none;
    transition: 0.1s;
    cursor: pointer;


}

.btn-cadastre-se-cadastro:hover {
    background: #37966F;


}

.cadastro label {
    display: flex;
}

div {
    width: 300 px;
}



/* FIM  .........................................................................*/







/* LINE CONTATO - 6X / ENTREGAMOS BRASIL*/

.line-promocao {
    display: flex;
    width: auto;
    height: 70px;
    gap: 20px;
    /* padding: 30px 30px; */
    font-size: 14px;
    font-family: sans-serif;
    color: #000000;
    justify-content: space-between;
    margin: 0px 120px;
    /* background-color: #ffffff; */
}

.menu-promo-01 {
    display: inline-block;
}

/* FIM */



/*
  Menu Vertical - Dropdown (Teste)
  /*Toda a Página
  *{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  }
  /*Corpo
  body{
  min-height: 100vh;
  background: #356859;
  }
  /*Barra vertical (Menu onde está o "x". Barra onde está os nomes (CATEGORIAS ATÉ QUEM SOMOS
  .side-bar{
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter:blur(15px);
  width: 290px;
  height: 100vh;
  position: fixed;
  top:0;
  left: -100%;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: right;
  }
  /*Menu vertical - deslocamento
  .side-bar.active{
  left: 0;
  }
  /*Altera a distancias - Elementos Menu Vertical
  .side-bar .menu{
  width: 100%;
  margin-top: 80px;
  }
  /*Quando você acessa a área do Menu Vertical - Transforma a seta em "mãozinha"
  .side-bar .menu .item{
  position:relative;
  cursor:pointer;
  }
  /*Itens do Menu Vertical - Por exeplo cor da letra!
  .side-bar .menu .item a{
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
  }
  /*Ao passar o "cursor" nos itens do Menu Vertical
  .side-bar .menu .item a:hover{
  background: #356859;
  transition: 0.3s ease;
  }
  /*"Regula a posição" da seta no Menu Vertical
  .side-bar .menu .item a .dropdown{
  position: absolute;
  right:0;
  margin: 20px;
  transition: 0.3s ease;
  }
  /*Sub-menu do Menu Vertical
  .side-bar .menu .item .sub-menu{
  background: rgba(158, 118, 121, 0.1);
  display:none;
  }
  /*Posicionamento do item Sub-menu
  .side-bar .menu .item .sub-menu a{
  padding-left: 80px;
  }
  /* O quanto a seta do Menu Vertical tem que girar para "Baixo" ao acessar o Sub-menu
  .rotate{
  transform: rotate(90deg);
  }
  /*Posicionamento do Botão "X"
  .close-btn{
  position: absolute;
  color: #fff;
  font-size: 20px;
  right: 0;
  margin: 25px;
  cursor: pointer;
  } 
  Posicionamento do Botão Hamburguer
  .menu-btn{
  position: absolute;
  color: #fff;
  font-size: 20px;
  margin: 25px;
  cursor:pointer;
  }
  */


/* AUTOR DESTAQUE */

.box-text-autor {
    font-size: 20px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
}

.box-autor-home {
    background-color: #ffffff;
    display: flex;
    padding: 20px;
    gap: 20px 30px;

}

.box-autor-destaque {
    border: #e0dfdf 2px solid;
    display: flex;
    background-color: #ffffff;
    padding: 10px 20px;
    gap: 30px 20px;
    align-items: center;

}

.name-autor {
    font-size: 18px;
    color: #000000;
    font-family: sans-serif;
    padding: 13px 0px;
    text-align: justify;
    margin: 10px;
}

.autor {
    font-size: 13px;
    font-family: sans-serif;
    color: #656565;
    text-align: center;
    padding: 13px 0px;
}


/* FOOTER */

.container-promocao {
    background-color: #ffffff;
    padding: 0 60px;
    border: #e0dfdf 2px solid;
    /* margin: 10px 20px; */

}

footer {
    background-color: #37966F;
    padding: 2em 0;
    padding-bottom: 10px;

}

footer h2,
footer p,
footer a,
footer span,
h5 {
    color: #FFF;
}

footer h2 {
    font-weight: 400;
}

footer a {
    text-decoration: none;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
}

.footer-box0 {
    width: 20%;
    padding: 2%;
    float: left;
    margin-left: 1px;
}

.footer-box1 {
    width: 20.5%;
    /* padding: -3%; */
    float: left;
}

.footer-box2 {
    width: 20%;
    /* padding: -3%; */
    float: left;
}

.footer-box3 {
    width: 22.5%;
    /* padding: -3%; */
    float: left;
    font-size: 12px;
}

footer .wrapper:after {
    clear: both;
    content: "";
    display: block;
}

.company-footer {
    width: 80%;
}

.company-footer h2 {
    margin-top: 20px;
}

.company-footer h2,
.company-footer p {
    margin-bottom: 10px;
}

.footer-list li {
    margin-bottom: 15px;
}

.footer-list a {
    transition: 0.5s;
}

.footer-list a:hover {
    color: #356859;
}

.footer-list li:after {
    clear: both;
    content: "";
    display: block;
}

.articles-footer {
    width: 60%;
}

.footer-list.footer-article-list span {
    display: block;
    float: none;
}

.footer-list li span {
    float: left;
    height: 30px;
    line-height: 30px;
}

.footer-bottom {
    background-color: #FFF;

}

.footer-bottom p {
    font-weight: 600;
    margin-top: 0px;
    background-color: #356859;
    color: #FFF;
    text-align: center;
    padding-top: 20px;


}

.line-third {
    background-color: #356859;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

h2 {
    font-size: 15px;
    text-transform: uppercase;
    margin-block-start: 2em;
    margin-block-end: 2em;
    font-weight: bold;
    text-align: center;
}

/* POLITIC DE PRIVACIDADE E COOKIES */

.box-privacidade {
    background-color: #818181;
    position: fixed;
    text-align: center;
    left: 0;
    padding: 25px;
    z-index: 5000;
    width: 100%;
    bottom: 0;
    transition: 1.2s;

}

.box-privacidade,
.container {
    max-width: 1600px;
    margin: auto;

}

.text-privacidade {
    color: #e0dfdf;
    display: inline-block;
    margin: 10px 0;
    font-size: 14px;
    font-family: sans-serif;
}

.botao-privacidade,
.aceitar-cookies {
    background-color: #818181;
    color: #ffffff;
    font-weight: 800;
    border-radius: 3px;
    border: 0px;
    font-family: sans-serif;
    margin: 0px 15px;
    padding: 10px 30px;
    cursor: pointer;
    transition: .2s;
    font-size: 14px;

}